.book{
    box-shadow: 0 5px 10px black;
    margin: 10px 0;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
    width: 472px;
    height: 205px;
    background-color: white;
}

.book:hover{
    box-shadow: 0 10px 12px black;
}

.book h2,p{
    background-color: white;
}